.TileContainer {
  display: grid;
  grid-template-rows: 5% auto;
  font-size: 3rem;
  height: 100%;
  min-width: 200px;
  max-width: 1000px;
}
.SecondaryContainer {
  display: flex;
  justify-content: flex-end;
}
.CloseButton {
  margin-top: 5px;
  margin-right: 10px;
  width: 50px;
  height: 40px;
  border-radius: 25%;
}
.CloseButton:hover {
  opacity: 0.8;
  cursor: pointer;
}
.MainContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.GenColorButton {
  font-size: 2.5rem;
  border-radius: 5%;
  width: 80%;
  transition: 100ms ease-in-out;
}
.GenColorButton:hover {
  cursor: pointer;
  box-shadow: 5px;
  transform: scale(1.05);
  box-shadow: inset;
}
